@page
@model IndexModel
@{
    ViewData["Title"] = "Дашборд";
}

<div class="p-3 bg-light min-vh-100">
    <div class="bg-white border rounded-3 p-4 shadow-sm">
        <h1 class="display-5 mb-0 text-center">Здарова, за@еб@л</h1>
    </div>
</div>