@page
@model LoginModel
@{
    ViewData["Title"] = "Вход в систему";

}

<div>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <h3>Добро пожаловать, @User.Identity.Name!</h3>
    }
    else
    {
        <h2 class="mb-4">Вход в приложение</h2>

        <form method="post" class="w-100" style="max-width: 400px;">
            <div class="mb-3">
                <label for="Login" class="form-label">Логин</label>
                <input asp-for="UserTab.Login" name="login" id="Login" class="form-control" required />
                <span asp-validation-for="UserTab.Login" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label for="Password" class="form-label">Пароль</label>
                <input asp-for="UserTab.Password" type="password" name="password" id="Password" class="form-control" required />
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">Войти</button>
            </div>
        </form>
    }
</div>